@media (max-width:1920px) {}

@media (max-width:1668px) {
    .hp-sec-10-r1 {
        max-width: 1740px;
        margin: 0 auto;
        padding: 0 0 0 50px;
    }

    .hp-sec-10 .hp-sec-10-r1>div {
        width: 50%;
        position: relative;
    }
}

@media (max-width:1540px) {}

@media (max-width:1480px) {
    .header-r3-left .header-r3-nav ul {
        gap: 20px;
    }

    .header-r3 .header-r3-right {
        gap: 15px;
    }

    .ts-1-slider .slick-prev {
        left: 87%;
    }

    .hp-sec-17-r1 .hp-sec-17-r1-card .hp-sec-17-r1-card-tag {
        width: 90px;
        height: 90px;
    }

    .hp-sec-17-r1 .hp-sec-17-r1-card .hp-sec-17-r1-card-content {
        padding: 25px;
    }

    .hp-sec-17-r1 .hp-sec-17-r1-card .hp-sec-17-r1-card-tag {
        bottom: 25px;
        left: 30px;
    }
}

@media (max-width:1368px) {
    .header-r3 .header-r3-right {
        padding: 14px 15px 12px 15px;
    }
}

@media (max-width:1280px) {

    .header-r2 .header-r2-left {
        width: 70%;
        gap: 15px;
    }

    .header-r2 .header-r2-right {
        width: 30%;
    }

    .foot-exclusive {
        width: 438px;
        width: 45% !important;
    }

    .footer-col {
        width: 15%;
    }

    .footer-r1 {
        justify-content: flex-start;
    }

    .footer-col.foot-support {
        width: 45% !important;
        max-width: 100%;
    }

    header {
        display: none;
    }

}

@media (max-width:1168px) {}

@media (max-width: 1024px) {
    section {
        padding-top: 50px;
    }

    .container {
        padding: 0 30px;
    }

    .header-r1 .header-r1-left {
        display: none;
    }

    .header-r1 .header-r1-right {
        width: 100%;
    }

    .header-r1 .header-r1-right ul {
        justify-content: space-between;
        padding: 10px 0;
    }

    .header-r1 .header-r1-right ul li a {
        padding: 0;
    }

    .header-r1-right ul li::after {
        display: none;
    }

    .search-area {
        max-width: 350px;
    }

    .header-logo {
        max-width: 190px;
        display: flex;
    }

    .header-r2 .header-r2-left {
        width: 65%;
    }

    .header-r2 .header-r2-right {
        width: 35%;
    }

    .header-r2-right .user-dets {
        margin-left: 15px;
    }

    .footer-col {
        flex: 1 1 100%;
        max-width: 100%;
        border-bottom: 1px solid #333;
        padding-bottom: 10px;
    }

    .footer-col ul {
        display: none;
    }

    .footer-col.static ul {
        display: flex !important;
    }

    .footer-col h4.footer-toggle::after {
        display: block;
    }

    .footer-col.active ul {
        display: flex;
    }

    .footer-col h4.footer-toggle::after {
        content: '';
        position: absolute;
        right: 0;
        transition: transform 0.3s;
        background-image: url('../images/icons/angle-down.svg');
        content: '';
        position: absolute;
        right: 0;
        transition: transform 0.3s;
        z-index: 111;
        top: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 10px;
        width: 18px;
    }

    .footer-col.active h4.footer-toggle::after {
        transform: rotate(179deg);
    }

    .hp-sec-8 .hp-sec-8-r1>div .hp-sec-8-content {
        padding-bottom: 40px;
        padding-inline: 20px;
    }

    .hp-sec-8 .hp-sec-8-r1 .hp-sec-8-content p,
    .hp-sec-10 .hp-sec-10-r1 .hp-sec-10-content p {
        margin-bottom: 20px;
    }

    .hp-sec-11-r3 .hp-sec-11-r3-cards .hp-sec-11-r3-card {
        width: calc((100% - 20px * 2) / 3);
        height: 170px;
    }
}

@media (min-width: 1025px) {}

@media (max-width:980px) {

    .hp-sec-3-r2 #tabs .ui-tabs-panel,
    .hp-sec-7-r2 #tabs .ui-tabs-panel {
        display: none !important;
    }

    .hp-sec-3-r2 #tabs>ul,
    .hp-sec-7-r2 #tabs>ul {
        width: 100%;
        display: flex;
        column-gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hp-sec-3-r2 #tabs>ul::before,
    .hp-sec-7-r2 #tabs>ul::before,
    .hp-sec-3-r2 #tabs>ul::after,
    .hp-sec-7-r2 #tabs>ul::after {
        display: none;
    }

    .hp-sec-3-r2 #tabs ul li,
    .hp-sec-7 .ui-tabs .ui-tabs-nav li {
        width: 40%;
    }

    .hp-sec-5 .hp-sec-5-r1 .hp-sec-5-r1-content {
        justify-content: flex-end;
        padding-bottom: 45px;
        background: linear-gradient(0.12deg, rgba(0, 0, 0, 0.5) 24.08%, rgba(0, 0, 0, 0) 65.86%);
    }

    .hp-sec-11-r2 .hp-sec-11-r2-card {
        width: calc((100%) / 1);
    }
}

@media (max-width:880px) {}

@media (max-width:820px) {}

@media (max-width:768px) {
    section {
        padding-top: 40px;
    }

    .container {
        padding: 0 20px;
    }

    .hp-sec-1-r1 {
        min-height: 524px;
    }

    .hp-sec-1-r1 .hp-sec-1-left {
        display: none;
    }

    .hp-sec-1-r1 .hp-sec-1-right img {
        object-fit: cover;
    }

    .hp-sec-1-r1 .hp-sec-1-right,
    .hp-sec-1-r1-center {
        width: 100%;
    }

    .hp-sec-1-r1-center {
        background: linear-gradient(181.67deg, rgba(255, 255, 255, 0) 1.46%, #FFFFFF 75.32%);
        opacity: 0.8;
        justify-content: flex-end;
        padding: 45px 30px 45px 30px;
    }

    .hp-sec-1-r1-center h1 {
        text-align: center;
    }

    .footer-r1 {
        grid-template-columns: 1fr;
    }

    .hp-category-slider .draggable {
        width: 120%;
    }

    .hp-category-slider .cat-slider-promo-code,
    .hp-category-slider .cat-slider-shop-btn {
        display: none;
    }

    .slider-inner-content {
        justify-content: flex-start;
        height: 70px;
        padding: 20px 10px;
    }

    .hp-sec-3-r2 #tabs ul li {
        width: 100%;
    }

    .hp-sec-8 .hp-sec-8-r1 {
        flex-wrap: wrap;
    }

    .hp-sec-8 .hp-sec-8-r1>div {
        width: 100%;
        max-height: 460px;
    }

    .hp-sec-10 .hp-sec-10-r1 {
        flex-direction: column;
        padding: 0;
    }

    .hp-sec-10 .hp-sec-10-r1>div {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hp-sec-10 .hp-sec-10-r1>div .hp-sec-10-content {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 20px;
    }

    .hp-sec-10 .hp-sec-10-r1 .hp-sec-10-content p {
        text-align: center;
    }

    .hp-sec-10 .hp-sec-10-r1-right img {
        min-height: 265px;
    }

    .hp-sec-11-r2-content-btns {
        flex-direction: column;
    }

    .hp-sec-11-r2 .hp-sec-11-r2-card .hp-sec-11-r2-content {
        background: linear-gradient(253.51deg, rgba(0, 0, 0, 0) 36.86%, rgba(0, 0, 0, 0.6) 89.09%);
    }

    .hp-sec-11-r2 .hp-sec-11-r2-card .hp-sec-11-r2-content h3 {
        max-width: 200px;
    }

    .hp-sec-11-r2-content-btns .card-shop-btn {
        width: 50%;
    }

    .hp-sec-11-r3 .hp-sec-11-r3-cards .hp-sec-11-r3-card {
        width: calc((100% - 20px) / 2);
        height: 90px;
    }

    .hp-sec-11-r3-card>img {
        max-width: 170px;
        height: 100%;
        width: 100%;
        object-fit: scale-down;
    }
}

@media (max-width:667px) {}

@media (max-width:580px) {
    .hp-sec-8 .hp-sec-8-r1>div {
        min-height: 345px;
    }
}

@media (max-width:520px) {}

@media (max-width:480px) {}

@media (max-width:430px) {}

@media (max-width:420px) {}

@media (max-width:390px) {}

@media (max-width:375px) {}

@media (max-width:360px) {}