@media (max-width:1920px) {}

@media (max-width:1668px) {}

@media (max-width:1540px) {}

@media (max-width:1480px) {
    .header-r3-left .header-r3-nav ul {
        gap: 20px;
    }

    .header-r3 .header-r3-right {
        gap: 15px;
    }
}

@media (max-width:1368px) {}

@media (max-width:1280px) {

    .header-r2 .header-r2-left {
        width: 70%;
        gap: 15px;
    }

    .header-r2 .header-r2-right {
        width: 30%;
    }
}

@media (max-width:1168px) {}

@media (max-width: 1024px) {
    section {
        padding-top: 50px;
    }

    .container {
        padding: 0 30px;
    }

    .header-r1 .header-r1-left {
        display: none;
    }

    .header-r1 .header-r1-right {
        width: 100%;
    }

    .header-r1 .header-r1-right ul {
        justify-content: space-between;
        padding: 10px 0;
    }

    .header-r1 .header-r1-right ul li a {
        padding: 0;
    }

    .header-r1-right ul li::after {
        display: none;
    }

    .search-area {
        max-width: 350px;
    }

    .header-logo {
        max-width: 190px;
        display: flex;
    }

    .header-r2 .header-r2-left {
        width: 65%;
    }

    .header-r2 .header-r2-right {
        width: 35%;
    }

    .header-r2-right .user-dets {
        margin-left: 15px;
    }
}

@media (min-width: 1025px) {}

@media (max-width:980px) {}

@media (max-width:880px) {}

@media (max-width:820px) {}

@media (max-width:768px) {
    section {
        padding-top: 40px;
    }

    .container {
        padding: 0 20px;
    }

    .search-area,
    .dropdown-container,
    .icon-button {
        /* display: none; */
    }
}

@media (max-width:667px) {}

@media (max-width:580px) {}

@media (max-width:520px) {}

@media (max-width:480px) {}

@media (max-width:430px) {}

@media (max-width:420px) {}

@media (max-width:390px) {}

@media (max-width:375px) {}

@media (max-width:360px) {}